.author-dashboard.container{
  display: grid;
  grid-template-columns: 275px 900px;
  grid-template-areas: "dashNav content";

  padding: 0px; 
  margin: 0px;
}
/**dashboard (left)*/
.author-dashboard.dashboard{
  grid-area: dashNav;

  padding: 40px 10px;
  margin: 0px;
  background-color: rgb(56, 60, 71);
  
}
.author-dashboard.dashNav{
  padding: 5px 25px;
}


.author-dashboard.dashNav > ul{
  padding: 0px;
}
.author-dashboard.dashNav > ul > li {
  list-style: none;
  text-align: left;
  margin: 25px;
}

.author-dashboard.dashNav > ul > li > a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.author-dashboard.dashNav > ul > li > a:hover{
  color: yellow;
}

/** dashboard content (right)*/
.author-dashboard.content{
  grid-area: content;
  padding: 30px 50px;
  text-align: left;
}

/** profile view*/
.dashboard-profile.container{
  padding: 40px;
}
/*profile picture*/
.dashboard-profile.container >  img{
  background-color: lightgrey;
  
  height: 250px;
  float: left;

  margin: 0px 10px;
}

.edit-mode{
  background-color: Transparent;
  border: none;
  overflow: hidden;
  color: inherit;
}

.edit-mode:hover{
  cursor: pointer;
}

/** book view*/
#AuthorBookTable > tbody > tr > td{
  padding: 40px
}

.add-book{
  color: forestgreen;
  border: 3px dotted transparent;
}

.add-book:hover{
  cursor: pointer;
  border: 3px dotted green;
}