.author-dashboard.container{
  display: grid;
  grid-template-columns: 250px 900px;
  
  grid-template-areas: "dashNav content";
  
  padding: 0px; 
  margin: 0px;
}

.author-dashboard.dashboard{
  grid-area: dashNav;
  padding: 40px 10px;
  margin: 0px;
  background-color: rgb(56, 60, 71);
  
}
.author-dashboard.dashNav{
  padding: 5px 25px;
}
.dashboard-profile.container{
  padding: 40px;
}
.dashboard-profile.container >  img{
  background-color: lightgrey;
  float: left;
  margin-left: 10px;
  
  height: 250px;
  margin-right: 15px;
}

.author-dashboard.dashNav > .author-dashboard.profile-pic{
  height: 80px;
  
}
.add-book{
  color: forestgreen;
}
.profile-book{
  height: 200px;
  background-color: white;
  margin: 0px;
}
.add-book{
  border: 3px dotted transparent;
}
.add-book:hover{
  cursor: pointer;
  border: 3px dotted green;
}
.author-dashboard.dashNav > ul{
  padding: 0px;
}
.author-dashboard.dashNav > ul > li {
  list-style: none;
  text-align: left;
  margin: 25px;
}
.author-dashboard-link{
  margin: 100px;
}
.author-dashboard.dashNav > ul > li > a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 0px;

}
.author-dashboard.dashNav > ul > li > a:hover{
  color: yellow;
}
.author-dashboard.content{
  grid-area: content;
 
  margin: 0px;
  padding: 30px 50px;
  text-align: left;
 
}

#AuthorBookTable > tbody > tr > td{
  padding: 40px
}