.book-upload.container{
  
  padding: 25px 150px;
}
.book-upload.container > h1{
  grid-area: uploadHeading;
  
}
.book-upload.container > .book-upload.upload-cover{
  grid-area: uploadCover;
}
.book-upload.container > .cover-image{
  height: 300px;
  width: 300px;
  background-color: red;
}
.book-upload.container > .book-upload.upload-forms{
  grid-area: uploadForms;
}

.hidden{
  display: none;
}

.book-upload.container > .upload-text{
  outline: none;
  border: transparent;
  border-bottom: 1px solid black;
  border-radius: 0px;
  margin-bottom: 15px;
}
.book-upload.container > .upload-text:focus, .book-upload.container > .upload-text:active{
  border: 0px;
  outline: none;
  border-bottom: 1px solid lightgreen;
}