.sign-in-view.container{
  display: grid;
  grid-template-areas: "heading heading"
    "facebook-button username"
    "google-button password"
    "twitter-button sign-in-button";

  grid-template-rows: 100px 75px 75px 75px;
  grid-template-columns: 350px 350px;
  grid-row-gap: 20px;
  grid-column-gap: 55px;
  padding: 200px;

}
.sign-in-view.container > button{
  color: white;
  border: none;
  font-size: 26px;
  cursor: pointer;
}
.sign-in-view.container > .sign-in.heading {
  grid-area: heading;
  font-size: 72px;
  color: white;
}
.sign-in-view.container > .facebook-button{
  grid-area: facebook-button;
  background-color: blue;
  
}

.sign-in-view.container > .google-button{
  grid-area: google-button;
  background-color: red;
}
.sign-in-view.container > .twitter-button{
  grid-area: twitter-button;
  background-color: lightblue;
}
.sign-in-view.container > input{
  height: 50px;
  font-size: 26px;
  background-color: #CCCCCC;
  padding-left: 5px;
}

.sign-in-view.container > .username-text-input{
  grid-area: username;

}

.sign-in-view.container > .password-text-input{
  grid-area: password;

}

.sign-in-view.container > .sign-in-button{
  grid-area: sign-in-button;
  background-color: lightblue;
  width: 50%;

  margin: 0px auto;
}