.book-detail.lab{
  display: grid;
  grid-template-rows: 360px auto;
  grid-template-columns: auto 800px;
  grid-template-areas: "bookInfo bookInfo"
                        "bookContainer bookDetail";
}


.book-detail.lab > .bookInfo{
  grid-area: bookInfo;
  background-color: blue;
  color: black;
  padding-top: 200px;
}
.bookInfo > .bookContainer{
  margin: -100px 50px;
  float: left;
  height: 500px;
  width: inherit;
}
.bookInfo > .bookContainer > .bookCover{
  
  height: 400px;
  width: 300px;
  background-color: orange;
  float: left;
  margin-bottom: 15px;
}

.bookDetail > .book-title{
  margin: 0px;
  font-size: 36px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.book-detail.lab > .bookInfo > .bookContainer{
  grid-area: bookContainer;
  
}
.book-detail.lab > .bookDetail{
  background-color: snow;
  grid-area: bookDetail;
  padding: 30px;
  width: 90%;
  font-size: 18px;
  margin-right: 100px;
}
.bookDetail > .table.chapters{
  grid-area: bookChapter;
  width: 85%;
  border: 1px solid black;
  margin: auto;
}

.sign-in.container{
  text-align: left;
  margin: auto;
  padding: 50px 100px;
  height: 400px;
  width: 500px;
}
.sign-in.container > div{
  margin: 20px 0px;
}