/**grid layout*/
.book-creator.container{
  display: grid;
  grid-template-columns: 275px auto;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  grid-template-areas: "createNav formContainer";
  padding-top: 30px;
  padding: 0px;
  margin: 0px;
}

/**create-nav*/
.book-creator.container > #create-nav {
  grid-area: createNav;
  list-style: none;
  text-align: left;
  padding: 30px 25px; 


  background-color: #D3D3D3;
  font-weight: bold;
}
#form-container{
  padding: 15px;
}
#create-nav > li > a{
  color: red;
}
#form-container > .form-header{
  margin-bottom: 35px;
}
#create-nav > li{
  margin: 35px;
  font-size: 18px;
}

a:hover{
  text-decoration: none !important;
}
.container-link:hover > span, a{
  color: orange;
  text-decoration: none;
  
}

.book-creator.container > #form-container{
  grid-area: formContainer;
  text-align: left;
  font-weight: bold;
  padding-top: 30px;
  margin: 0px;
  
}

#DataTable{
  width: 100%;
}
.form-row > .col{
  margin-bottom: 20px;
}
/**checkbox*/
.form-check {
  margin: 10px;
}