.author-view.container{
  display: grid;
  grid-template-areas: "authorDetails" 
                      "authorBooks";
  grid-template-rows: 275px 600px;
}

.author-view.container > .author-view.authorDetails{
  grid-area: authorDetails;
  
  margin: 25px;
  padding: 25px;

  text-align: left;

  border: .5px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px;
}
.author-view.authorDetails > .author-profile-picture{
  height: 150px;
  width: 150px;
  float: left;

  background-color: black;
  border-radius: 50px;
  margin-right: 15px;
}
.author-view.container > .author-view.authorBooks{
  grid-area: authorBooks;


  margin: 0px 25px;
  padding: 0px 25px;
}

.author-view.author-book{
  height: 250px; 
  width: 175px;
  background-color: purple;
  margin: 15px 25px;
}

.author-view.author-book:hover{
  cursor: pointer;
}