.App {
  font-family: sans-serif;
  text-align: center;
}
/** header */
header {
  color: white;

  padding: 5px 45px !important;
  font-size:  16px;
  
  border-bottom: 3px solid orange;
}

header > div > ul > li > .btn-primary:hover{
  color: yellow !important;
}

header > div > button {
  margin: 0px 5px;
}

header > a{
  color: orange;
}
.app-name{
  font-size: 20px;
}
.app-name:hover{
  color: orange;
}
/**end of header*/

/** default book */
.book {
  background-color: red;
  margin: 0px 10px;
}

/** Notification*/
.notification-container{
  position: fixed;
  bottom: 0px;
  width: 400px;  
}

/**Error container*/
.error-container{
  margin: auto;
  text-align: center;
}
.error-container > .http-code{
  font-size: 175px;
}
.error-container > .http-message{
  font-size: 64px;
  color: rgb(235, 167, 43);
}