.user-detail.container{
  display: grid;
  grid-template-areas: "userGeneral"
                        "bookLists";
  grid-row-gap: 30px;
  padding: 40px;
}
.author-profile-pic{
  height: 125px;
  width: 125px;
  border-radius: 100px;
  background-color: grey;
  margin-right: 30px;
}
.book-container{
  width: 800px !important;
  text-align: left;
  margin: 15px;
  height: 200px !important;
  grid-template-areas: "bookCover . bookDescription";
  grid-template-columns: auto 200px auto;
  overflow: hidden;
}
.book-container >  .book-cover{
  grid-area: bookCover;

}
.book-container >  .book-description{
  grid-area: bookDescription;
  margin-left: 100px;
  padding-left: 30px;
}
.follow-numbers{
  margin: auto;
  font-size: 28px;
}
.user-general.row{
  height: 150px;
  width: 500px;
  grid-area: userGeneral;
  padding: 10px;
  margin: auto;
}

.booklists{
  grid-area: bookLists;
  margin: auto;
}
.profile-number{
  padding: 25px;
}